<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Paciente</title>
</head>
<body>
    <h1>Detalhes do Paciente</h1>
    <p><strong>ID:</strong> {{ paciente.id }}</p>
    <p><strong>Nome:</strong> {{ paciente.nome }}</p>
    <p><strong>Endereço:</strong> {{ paciente.endereco}}</p>
    <p><strong>Data de Nascimento:</strong> {{ paciente.endereco}}</p>
    <p><strong>Genero:</strong> {{ paciente.genero}}</p>
    <p><strong>Contato:</strong> {{ paciente.endereco}}</p>
    <p><strong>Queixa Principal:</strong> {{ paciente.endereco}}</p>
    <p><strong>Histórico de Doença:</strong> {{ paciente.endereco}}</p>
    
    <a href="{{ url_for('listagem_pacientes') }}">Voltar para a listagem</a>
</body>
</html>
